/*Footer*/

a .social-icons {
    color: white;
}

#copyright {
    font-family: "Open Sans", sans-serif;
    color: white;
    margin-left: 120px;
    padding-top: 20px;
    float: left;
}

#footer {
    height: 80px;
    background-color: #2B3F56;
    width: 100%;
    margin-top: 50px;
}

.social-icons {
    padding-left: 40px;
}
    
.socialmedia {
    color: white;
    float: right;
    margin-right: 120px;
    padding-top: 20px;
    size: 35px;
}
