.home {
    .about{
        margin-top: 40px;
    }
    
    .donate-btn{
        background: url(../../assets/home-fundraising.png);
        width: 140px;
        height: 140px;
        margin: 40px 0;
    }
    
    .contact-btn{
        background: url(../../assets/home-fundraising.png);
        width: 140px;
        height: 140px;
        margin: 40px 0;
    }
    
    .carousel-inner{
        width: 1020px;
        height: 410px;
    }
}