/*Members Page*/

.membersPage {
    .col-md-2, .col-md-3{
        margin: 0;
        padding: 0;
    }

    .row{
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .squareSolid{
        background: #0fad9e;
        width: 140px;
        height: 140px;   
    }

    .squareSolidEboard{
        background: #eb5973;
        width: 220px;
        height: 220px;   
    }

    .squareMember{
        width: 140px;
        height: 140px;
        span.text-content{
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(255,255,255,0.4);
            cursor: pointer;
            display: table;
            width: 140px;
            height: 140px;  
            opacity: 0;
            -webkit-transition: opacity 500ms;
            -moz-transition: opacity 500ms;
            -o-transition: opacity 500ms;
            transition: opacity 500ms;
        }
        &:hover span.text-content {
            opacity: 1;
        }

        .text-content{
            padding: 15px;
            .name{
                font-size: 16px;
            }
            .year-major{
                font-size: 14px;
            }
        }
    }

    .squareEboard{
        width: 220px;
        height: 220px;   
        span.text-content{
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(255,255,255,0.4);
            cursor: pointer;
            display: table;
            width: 220px;
            height: 220px;  
            opacity: 0;
            -webkit-transition: opacity 500ms;
            -moz-transition: opacity 500ms;
            -o-transition: opacity 500ms;
            transition: opacity 500ms;
        }
        &:hover span.text-content {
            opacity: 1;
        }

        .text-content{
            padding: 20px;
            .name{
                font-size: 20px;
            }
            .year-major{
                font-size: 18px;
            }
        }
    }

    .text-content{
        color: $black;
        .name{
            text-transform: uppercase;
            font-weight: bold;
        }
        .year-major{
            //            font-size: 18px;
        }
    }

}