.portfolio {
    .hero {
        width: 100%;
        height: 540px;
        position: relative;
        margin-bottom: 50px;
    }

    .heromain {	
        /*width: 469px;*/
        height: 540px;
        position: absolute;
        left: 0px;
        overflow: hidden;
    }
    .herosub {
        /* width: 469px;*/
        height: 360px;
        position: absolute;
        right: 0;
        overflow: hidden;
    }
    .herosub2 {
        /*width: 238px;*/
        height: 180px;
        position: absolute;
        top: 360px;
        overflow: hidden;
    }

    .herosub3 {
        height: 180px;
        position: absolute;
        top: 360px;
        overflow: hidden;
        background-color: #08ad9d; 
    }

    span.linkthisyear {
        width: 100%;
        height: 180px;
        position: absolute;
        top: 0px;
        display: table;
        opacity: 0;
        -webkit-transition: opacity 500ms;
        -moz-transition: opacity 500ms;
        -o-transition: opacity 500ms;
        transition: opacity 500ms;
    }

    span.linkthisyear:hover {
        opacity: 1;
        background-color: #f0535f; /*$pink*/
    }

    .thisyearsbook {
        color: #ffffff;
        text-align: center;
        font-family: "Open Sans";
        font-size: 32px;
        margin-top: 48px;
        line-height: 75px;
        font-weight: 400;
    }

    .thisyearsbooks:hover {
        color: #f0fffd;
        text-decoration: none;
    }    


    .pasttwoyears {
        width: 940px;
        height: 361px;
        position: relative;
    }    

    .nopadding {
        padding: 0;
    }

    .nomargin {
        margin: 0;
    }

    .year1415 {	
        width: 470px;
        height: 300px;
        position: absolute;
        left: 0px;
        top: 0px;
        background-color: #ffffff;
        overflow: hidden;
    }

    .base1415 {	
        width: 470px;
        height: 61px;
        position: absolute;
        left: 0px;
        top: 300px;
        background-color: #ef545f;
    }  

    .year1314 {	
        width: 470px;
        height: 300px;
        position: absolute;
        right: 0px;
        top: 0px;
        background-color: #ffffff;
        overflow: hidden;
    }

    .base1314 {	
        width: 470px;
        height: 61px;
        position: absolute;
        right: 0px;
        top: 300px;
        background-color: #0cac9c;
        -webkit-transition: background-color 500ms;
        -moz-transition: background-color 500ms;
        -o-transition: background-color 500ms;
        transition: background-color 500ms;

    }

    span.bookspaddingleft {
        padding-left: 20px; 
        z-index: 1;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 28px;
        line-height: 55px;
        font-weight: 400;
    }
    .base1314:hover {
        background-color: #08ad9d;
    }

    a.bookspaddingleft:visited, a.bookspaddingleft:active, a.bookspaddingleft:hover {
        color: #f0fffd;
        text-decoration: none;
        font-weight: 400;
    }

    .archivemodule {
        margin-top: 95px;
        position: relative;
    }   

    .row {
        padding: 0;
        margin: 0;
    }

    .col-md-3 {
        padding: 0;
    }

    .archivehoverpink{
        width: 235px;
        height: 166px;
        overflow: hidden;

    }    

    .archivehoverpink:hover {
        background-color: rgba(239, 84, 95, .75);
        opacity:1;
        -webkit-transition: opacity .25s ease;
        -moz-transition: opacity .25s ease;

    }

    .archivehoverturq{
        width: 235px;
        height: 166px;
        overflow: hidden;

    }

    .archivehoverturq:hover {
        /*width: 187.2px;*/
        background-color: rgba(12, 172, 156, .75);
        opacity:1;
        -webkit-transition: opacity .25s ease;
        -moz-transition: opacity .25s ease;

    }


    img.portrait {
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    img.landscape {
        height: 100%;
        width: auto;
        overflow: hidden;
    }

    span.archiveoverlayturq {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(12, 172, 156, .75);
        display: table;
        width: 235px;
        height: 166px;
        opacity: 0;
        -webkit-transition: opacity 500ms;
        -moz-transition: opacity 500ms;
        -o-transition: opacity 500ms;
        transition: opacity 500ms;
    }

    span.archiveoverlaypink {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(239, 84, 95, .75);
        display: table;
        width: 235px;
        height: 166px;  
        opacity: 0;
        -webkit-transition: opacity 500ms;
        -moz-transition: opacity 500ms;
        -o-transition: opacity 500ms;
        transition: opacity 500ms;
    }

    span.archiveoverlayturq:hover {
        opacity:1;
    }

    span.archiveoverlaypink:hover {
        opacity:1;
    }

    .archiveyear {
        padding-left: 85px;
        padding-top: 115px;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 22px;
    }

    #text {
        position: absolute;
        top: 45px;
        width: 235px;
    }
}