/* Process Page */

.process{
    img {
        float: left;
    }

    p {
        width: 50%;
    }
    
    .blue {
        border-top: 7px solid $teal;
        float: left;
        text-align: left;
        width: 100%;
        margin-top: 40px;
        h2 {
            color: $teal;
        }
    }

    .pink {
        border-top: 7px solid $pink;
        float: left;
        text-align: right;
        width: 100%;
        margin-top: 40px;
        p {
            float: right;
        }
        h2 {
            color: $pink;
        }
    }

    h2 {
        border-top: none;
        margin: 10px auto 0;
    }

}