/*Global*/

/*End Global*/

/*Members Page*/
.membersPage .col-md-2, .membersPage .col-md-3{
    margin: 0;
    padding: 0;
}

.row{
    margin-top: 15px;
    margin-bottom: 15px;
}

.squareSolid{
    background: #0fad9e;
    width: 140px;
    height: 140px;   
}

.squareSolidEboard{
    background: #eb5973;
    width: 220px;
    height: 220px;   
}

.squareMember{
    width: 140px;
    height: 140px;
}

.squareMember:hover{
    background: grey;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.squareEboard{
    width: 220px;
    height: 220px;   
}

.squareEboard:hover{
    background: grey;
    opacity: 0.4;
    filter: alpha(opacity=40);
}
/*End Members Page*/

/*Footer*/

a .social-icons {
    color: white;
}

#copyright {
    font-family: "Open Sans", sans-serif;
    color: white;
    margin-left: 120px;
    padding-top: 20px;
    float: left;
}

#footer {
    height: 80px;
    background-color: #2B3F56;
}

.social-icons {
    padding-left: 40px;
}
    
.socialmedia {
    color: white;
    float: right;
    margin-right: 120px;
    padding-top: 20px;
    size: 35px;
}

/*End Footer*/